@keyframes spin {
	from {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
.lg-feat-sec {
	border-bottom: 1px solid #E0E2E4;
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 50px;
	}
}
.lg-feat-item {
	padding: 65px 15px 60px;
	border-right: 1px solid #E0E2E4;
	@media #{$md,$sm,$xs,$xxs} {
		border: none;
		padding: 30px 15px 25px;
	}
	.item-icon-title {
		gap: 16px;
		margin-bottom: 22px;
		.item-icon {
			width: 52px;
			height: 52px;
		}
		.item-text {
			h3 {
				max-width: 180px;
				font-size: 24px;
				font-weight: 500;
				line-height: 1.167;
				letter-spacing: -1px;
				&:hover {
					color: var(--lg-prime-c);
				}
			}
		}
	}
	p {
		max-width: 380px;
	}
	&:hover {
		.item-icon-title {
			.item-icon {
				animation: 1s spin infinite;
			}
		}
	}
}
.col-lg-4 {
	&:last-child {
		.lg-feat-item {
			border-right: none;
		}
	}
}